[tool.poetry]
name = "virtool-workflow"
version = "0.6.0"
description = "A framework for developing bioinformatics workflows for Virtool."
authors = ["Ian Boyes", "Blake Smith"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/virtool/virtool-workflow"
classifiers = [
    "Topic :: Software Development :: Libraries",
    "Programming Language :: Python :: 3.8"
]
packages = [
    { include = "virtool_workflow" },
    { include = "fixtures" },
]

[tool.poetry.dependencies]
python = "^3.8"
click = "^7.1.2"
aiohttp = "^3.7.3"
aiofiles = "^0.7.0"
virtool-core = "^0.3.0"
aioredis = "^2.0.0"
PyYAML = "^5.4.1"

[tool.poetry.extras]
test = ["virtool"]

[tool.poetry.dev-dependencies]
pytest = "^6.2.2"
pytest-asyncio = "^0.14.0"
pytest-xdist = "^2.2.0"
pytest-cov = "^2.11.1"
pytest-aiohttp = "0.3.0"
pytest-regressions = "^2.2.0"
pytest-profiling = "^1.7.0"
pytest-instafail = "^0.4.2"
pytest-sugar = "^0.9.4"
pytest-picked = "^0.4.6"
sphinx = "^4.0.2"
coloredlogs = "^15.0"

[tool.poetry.scripts]
workflow = "virtool_workflow.cli:cli_main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
