[tool.poetry]
name = "virtool-workflow"
version = "0.0.0"
description = "A framework for developing bioinformatics workflows for Virtool."
authors = ["Ian Boyes", "Blake Smith"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/virtool/virtool-workflow"
classifiers = [
    "Topic :: Software Development :: Libraries",
    "Programming Language :: Python :: 3.8"
]
packages = [
    { include = "virtool_workflow" },
]

[tool.poetry.dependencies]
python = "^3.8"
click = "^8.0.0"
aiohttp = "^3.8.1"
aiofiles = "^0.7.0"
virtool-core = "^2.0.0"
PyYAML = "^5.4.0"
aioredis = "1.3.1"
sentry-sdk = "^1.5.7"
pyfixtures = "^1.0.0"

[tool.poetry.extras]
test = ["virtool"]

[tool.poetry.dev-dependencies]
pytest = "^6.2.2"
pytest-asyncio = "^0.17.0"
pytest-xdist = "^2.2.0"
pytest-cov = "^2.11.1"
pytest-aiohttp = "0.3.0"
pytest-regressions = "^2.2.0"
pytest-profiling = "^1.7.0"
pytest-instafail = "^0.4.2"
pytest-picked = "^0.4.6"
sphinx = "^4.0.2"
coloredlogs = "^15.0"
motor = "^2.5.1"
pytest-docker-compose = "^3.2.1"
black = "22.3.0"
pre-commit = "^2.18.1"
pytest-mock = "^3.7.0"

[tool.poetry.scripts]
run-workflow = "virtool_workflow.cli:cli_main"

[tool.poetry.group.dev.dependencies]
syrupy = "^3.0.5"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
