name: ci

on:
  pull_request:
    branches:
      - "main"
      - "alpha"
  push:
    branches:
      - "main"
      - "alpha"

jobs:
  commitlint:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Commitlint
        uses: wagoid/commitlint-github-action@v5
  test:
    runs-on: ubuntu-22.04
    services:
      redis:
        image: redis:6.0
        ports:
          - 6379:6379
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Bowtie2
        run: | 
          wget https://github.com/BenLangmead/bowtie2/releases/download/v2.3.2/bowtie2-2.3.2-legacy-linux-x86_64.zip
          unzip bowtie2-2.3.2-legacy-linux-x86_64.zip
          cp -rv bowtie2-2.3.2-legacy /opt/bowtie2
          ln -s /opt/bowtie2/bowtie* /usr/local/bin
      - name: Install FastQC
        run: |
          wget https://www.bioinformatics.babraham.ac.uk/projects/fastqc/fastqc_v0.11.9.zip
          unzip fastqc_v0.11.9.zip
          ln -s FastQC/fastqc /usr/local/bin
      - name: Install HMMER
        run: |
          wget http://eddylab.org/software/hmmer/hmmer-3.2.1.tar.gz
          tar -xf hmmer-3.2.1.tar.gz
          cd hmmer-3.2.1
          ./configure --prefix /opt/hmmer
          make
          make install
          ln -s /opt/hmmer/bin/* /usr/local/bin
      - name: Install Skewer
        run: |
          wget https://github.com/relipmoc/skewer/archive/0.2.2.tar.gz
          tar -xf 0.2.2.tar.gz
          cd skewer-0.2.2
          # Fix for `error: static assertion failed: comparison object must be invocable as const`
          sed -i 's/const ELEMENT &elem2)/& const/g' src/matrix.h
          make
          make install
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - name: Setup Python
        uses: actions/setup-python@v4
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          python-version: '3.10'
      - name: Install Dependencies
        run: poetry install
      - name: Test
        run: poetry run pytest --redis-connection-string redis://localhost:6379
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Poetry Build
        run: |
            poetry check
            poetry build
  release:
    runs-on: ubuntu-22.04
    if: github.event_name == 'push'
    needs:
      - commitlint
      - build
      - test
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: 18
      - name: Install semantic-release
        run: npm i semantic-release^22.0.12 conventional-changelog-conventionalcommits^7.0.2
      - name: Release
        env:
          GITHUB_USERNAME: ${{ secrets.GH_USERNAME }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npx semantic-release
